{% load static %}

<nav class="navbar navbar-expand-lg navbar-info bg-success">
    {% if user.is_authenticated %}
    <div class="container">

        <a class="navbar-brand text-white" href="{% url 'index' %}"><strong>Inventario</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#"><strong>Dashboard </strong><span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'perfil' %}"> <strong>Perfil: {{ user.username }}</strong>
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    
                    <form  class="nav-link text-white"  method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                       <button type="submit" class="btn btn-outline-light"><strong>Logout</strong></button>
                    </form>

                </li>
            </ul>

           
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'register' %}"><strong>Registrarse</strong><span
                            class="sr-only">(current)</span></a>
                </li>
             

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}"><strong>Login</strong></a>
                </li>
            </ul>


            {% else %}
           
            
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'register' %}"><strong>Registrarse</strong> <span
                            class="sr-only">(current)</span></a>
                </li>
             

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}"><strong>Login</strong></a>
                </li>
            </ul>

         {% endif %}
        </div>
    </div>
</nav>